proxy:
  mode: rule
  log-level: info
  external-controller: 127.0.0.1:9090
  proxies: []
  proxy-groups:
    - name: Auto
      type: url-test
      url: http://www.gstatic.com/generate_204
      interval: 300
      proxies: []
  rules:
    - DOMAIN-SUFFIX,google.com,Auto
    - DOMAIN-SUFFIX,github.com,Auto
    - MATCH,DIRECT

dns:
  enable: true
  ipv6: false
  use-hosts: true
  nameservers:
    - 8.8.8.8
    - 1.1.1.1
    - 223.5.5.5
